# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb
.ipynb_checkpoints

# Files containing loka_kindel
*loka_kindel*

# Only parquet files in data directory
data/*.parquet

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# IDE settings
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite
